{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "summary": "summary.log",
        "perMutator": "per-mutator.md"
    },
    "mutators": {
        "@default": true,
        "ArrayOneItem": {
            "ignore": [
                "ValidatorPro\\Core\\Validator::validateField"
            ]
        },
        "CastString": {
            "ignore": [
                "ValidatorPro\\Core\\Validator::formatMessage"
            ]
        },
        "ProtectedVisibility": {
                "ignore": [
                    "ValidatorPro\\Core\\Validator::formatMessage"
                ]
        }
    },
    "testFramework": "phpunit",
    "bootstrap": "./vendor/autoload.php",
    "timeout": 10,
    "minMsi": 95,
    "minCoveredMsi": 95
}
